body {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    background-color:plum;
    margin: 0 0;
}
header {
  font-family: cursive;
  display: flex;
  justify-content: center;
  background-color: plum;
}
h4 {
  font-family: cursive;
}
img {
  width: 20vw;
  float: right;
  margin: 0vw 10vw;
  
}
#menu {
  width: 100vw;
  font-family:cursive, 'Times New Roman', Times, serif;
  background-color: plum;
}
a {
  text-decoration: none;
  color: black;
}
main {
  background-color: lavender;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  border-top: 2px double black;
}
/*Satisfies small screen requirement by moving menu bar at top of webpage to the side, 
  and resizing text and image sizing relative to the screen size*/
@media screen and (max-width: 800px) {
  #menu tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 10vw;
    position: absolute;
    background-color: plum;
    margin-right: 10rem;
  }
  table { 
    position: absolute;
    top: 30vh;
  }
  main {
    position: relative;
    left: 15vw;
    width: 80vw;
    height: 100vh;
    border-top: 2px double black;
    border-left: 2px double black;
  }
  p {
    padding-right: 5vw;
  }
}